
@{
    ViewBag.Title = "Index";
}
<html>
    <head>
        <script src="~/Scripts/angular.js"></script>
       <!-- <script src="//rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js"></script>-->        
        <script src="~/Scripts/lodash.js"></script>
        <script src="//rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
       <!-- <script src="~/Scripts/angular-google-maps.js"></script>-->
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDTtbyXC2qIOTE2WNJqd2YRrYUAcIQPL_s"></script>
    @* here We will add our created js file *@
        <script src="~/Scripts/ngMap.js"></script>
    </head> 
<body>
    <h2>Active Teams</h2>
    <div ng-app="myApp" ng-controller="mapController">
        <b>by time:</b><select ng-init="mod = options[0]" ng-model="mod" ng-options="option for option in options" ng-dropdown required>           
     
        </select>
        <div class="locations">
            <ul>
                <li ng-repeat="t in teams" ng-class="{sel: t.Title == title}" ng-click="ShowLocation(t.Title,mod);" ng-cloak>
                    <div> {{t.Title}}</div> 
                </li>
                     
           </ul>

        </div>
              
        <div class="maps">

            <ui-gmap-google-map center="map.center" zoom="map.zoom">
               
                 <ui-gmap-marker ng-repeat="marker in markers" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.user" icon="marker.icon" click="GetUserExtra(marker.user,marker)">
                    <ui-gmap-window options="windowOptions" show="marker.showWindow">
                        <div style="max-width:200px">
                            <div class="header"><b>Username: </b>{{marker.user}}</div>

                            <div id="mapcontent">
                                <p>  
                                    <div ng-cloak><b>Team: </b>{{marker.title}}</div>   
                                    <div ng-cloak><b>Identity: </b>{{identity.T_identity}}</div>                               
                                    <div ng-cloak><b>Items: </b>{{items[0].kind}}{{items[0].id}}</div>
                                    <div ng-cloak>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items[1].kind}}{{items[1].id}}</div>
                                    <div ng-cloak>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{items[2].kind}}{{items[2].id}}</div>
                                    <a href='/users/Details/{{marker.userid}}' target="_blank">&nbsp;Info</a>
                                </p>
                            </div>
                        </div>

                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</body>
</html>

<style>
    .angular-google-map-container {
       
         height: 500px;
        top:20px;

    }

            .angular-google-map {
        width: 80%;
        height: 80%;
        margin: auto 0px;
    }

    .locations {
        width: 150px;
        float: left;
    }

        .locations ul {
            padding: 0px;
            margin: 0px;
            margin-right: 20px;
        }

            .locations ul li {
                list-style-type: none;
                padding: 5px;
                border-bottom: 1px solid #f3f3f3;
                cursor: pointer;
                
            }
    .sel {
        background-color: lightgray;
    }

</style>





